body {
	background-color: white;
	overflow-x: hidden;
}

h1 {
	font-family: "Gilroy", sans-serif;
	color: #3A3A3A;
}

p {
	font-family: "Gilroy", sans-serif;
}

b {
	font-family: "Gilroy", sans-serif;
}

img {
	mix-blend-mode: normal;
}

a {
	text-decoration: none;
	font-family: "Gilroy", sans-serif;
}

.MainMenu {
	width: 100%;
	height: 720px;
	background: linear-gradient(90deg, #fff4e6, #f0c792);
	margin: 0px;
}

#name {
	font-size: 25px;
	font-family: "Gilroy", sans-serif;
	position: relative;
	top: 10%;
	left: 10%;
}

.Options {
	position: relative;
	top: 33px;
	left: 18%;
	display: flex;
	width: 30%;
	justify-content: space-around;
}

.Options p {
	color: black;
}

.dropdown {
    position: relative;
    width: 35%;
}

.dropdown p {
	position: relative;
	text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: 500%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.dropdown-content a:hover{
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    z-index: 3;
}

.dropdown:hover {
    background-color: white;
    cursor: pointer;
}

.SearchBlock {
	display: flex;
	width: 40%;
	height: 35px;
	position: relative;
	top: -10px;
	left: 48%;
}

.SearchBlock:hover {
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
}

#search {
	background: white;
	border: none;
	position: relative;
	height: 34px;
	width: 91%;
	font-size: 16px;
}

#searchbtn {
	background: white;
	border: none;
	position: relative;
	height: 36px;
	width: 9%;
	font-size: 15px;
}

#searchbtn:hover {
	background: #E89F71;
	color: white;
}

#cart {
	height: 40px;
	width: 40px;
	position: relative;
	top: -7%;
	left: 90%;
}

#profile{
	height: 40px;
	width: 40px;
	position: relative;
	left: 92%;
	top: -7%;
}

.Slider input{
	display: none;
}

.Slider {
	height: 500px;
	position: absolute;
	text-align: center;
	top: 228px;
	padding-right: 8px;
}

#slides article{
	width: 20%;
	float: left;
}

#slides .image{
	position: relative;
	left: -400px;
	width: 300%;
	line-height: 0;
}

#overflow {
	width: 100%;
	overflow: hidden;
}

.image img{
	position: relative;
	width: 15%;
	height: 500px;
	margin-right: 1%;
}

#switch1:checked ~ #controls label:nth-child(4),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3){
	float: left;
	margin: 0 0 0 -84px;
	display: flex;
	height: 68px;
	width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1){
	float: left;
	margin: 0 -84px 0 0;
	display: flex;
	height: 68px;
	width: 68px;
}

label, a{
	cursor: pointer;
}

#switch1:checked ~ #slides .image{
	margin-left: 0%;
}

#switch2:checked ~ #slides .image{
	margin-left: -47.5%;
}

#switch3:checked ~ #slides .image{
	margin-left: -95%;
}

#switch4:checked ~ #slides .image{
	margin-left: -142.5%;
}

#controls{
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active label:hover {
	border-radius: 12px;
	width: 16px;
	height: 16px;
}

#active{
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{
	background: #76c8ff;
	border-color: #777 !important;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4){
	background: #18a3dd;
	background-color: #18a3dd !important;
}

#slides .image{
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{
	opacity: 0.6;
}

#controls label{
	transition: opacity 0.2s ease-out;
}

.Advert {
	opacity: 0.9;
	height: 420px;
	width: 350px;
	position: relative;
	top: 20px;
	left: 150px;
	background-color: white;
	font-size: 22px;
	padding: 20px;
	z-index: 2;
}

#text {
	font-size: 22px;
	color: grey;
}

#cartbtn {
	height: 70px;
	width: 300px;
	background: black;
	position: relative;
	margin-top: 10px;
	left: 30px;
	font-size: 24px;
	color: white;
	font-family: "Gilroy", sans-serif;
}

#cartbtn:hover {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

a {
	text-decoration: none;
}

.Advantages {
	display: flex;
	height: 150px;
	width: 100%;
	justify-content: space-around;
	position: relative;
	top: 0px;
	padding-left: 70px;
	font-family: "Gilroy", sans-serif;
	margin-top: 6%;
	margin-bottom: 0%;
}

.Advantage {
	display: flex;
	width: 20%;
	height: 100%;
}

.img {
	height: 30px;
	width: 30px;
	margin-right: 15px;
}

#imgd {
	height: 35px;
	width: 35px;
	margin-right: 15px;
}

.Products {
	position: relative;
	top: -20px;
	margin-left: 2%;
	margin-right: 2%;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(3, 420px);
    grid-gap: 15px;
    padding: 15px;
    z-index: 1;
}

#prod {
	position: relative;
	top: -35px;
	text-align: center;
	font-family: "Gilroy", sans-serif;
	font-size: 40px;
}

.ProdBtns {
	display: none;
	align-items: center;
	flex-direction: column;
	background-color: #454545;
	opacity: 0.8;
	position: relative;
	bottom: 85.5%;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.Butn {
	position: relative;
	top: 35%;
	margin: 5px;
	background-color: white;
	border: none;
	color: #E89F71;
	font-size: 16px;
	width: 202px;
	height: 48px;
}

.Butn:hover {
	background-color: #E89F71;
	color: white;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

.Item {
	background-color: #d1d1d1;
	z-index: 1;
}

.Item:hover .ProdBtns {
	display: flex;
}

.ImageItem {
	width: 100%;
	height: 270px;
}

#moreprod {
	border: 3px solid #E89F71;
	color: #E89F71;
	background: white;
	font-family: "Gilroy", sans-serif;
	height: 40px;
	width: 180px;
	font-size: 18px;
	position: relative;
	top: 30px;
	left: 45%;
}

#moreprod:hover {
	background: #E89F71;
	color: white;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

.Name {
	font-family: "Gilroy", sans-serif;
	font-size: 20px;
	position: relative;
	left: 20px;
	top: 15px;
}

.Price {
	font-family: "Gilroy", sans-serif;
	font-size: 19px;
	position: relative;
	left: 20px;
	top: 65px;
}

.Rooms {
	width: 100%;
	height: 700px;
	background-color: #f7e7d2;
	position: relative;
	top: 70px;
	overflow: hidden;
}

.RDescription {
	height: 300px;
	width: 25%;
	position: relative;
	top: 220px;
	left: 7%;
}

#room {
	width: 140px;
	height: 45px;
	background-color: #E89F71;
	border: none;
	font-size: 16px;
	color: white;
}

#room:hover {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

#roominspir {
	font-size: 38px;
}

#text1 {
	font-size: 18px;
}

.RoomImages {
	display: flex;
	position: relative;
	top: -35%;
	left: 40%;
	width: 70%;
	height: 80%;
	justify-content: space-between;
}

.RoomImages img {
	position: relative;
	width: 30%;
	height: 100%;
}

.Tips {
	width: 90%;
	height: 340px;
	position: relative;
	top: 70px;
	left: 5%;
	display: flex;
	justify-content: space-around;
}

#des {
	position: relative;
	top: 90px;
	font-size: 40px;
	text-align: center;
}

.TipItem {
	height: 100%;
	width: 30%;
	position: relative;
	top: 30px;
	background-color: white;
	box-shadow: 0px 0px 20px 10px rgba(114, 114, 114, 0.2);
}

.TipItem:hover {
	width: 35%;
	height: 105%;
	top: 5%;
}

.img2 {
	width: 100%;
	height: 70%;
}

.TipTitle {
	font-size: 22px;
	position: relative;
	left: 8px;
}

.TipDate {
	font-size: 16px;
	position: relative;
	left: 8px;
	bottom: 5px;
}

#sharesetup {
	position: relative;
	top: 120px;
	text-align: center;
	font-size: 20px;
	color: #616161;
}

#tag {
	position: relative;
	top: 110px;
	text-align: center;
	color: #3A3A3A;
}

.Gallery {
	width: 100%;
	height: 800px;
	overflow: hidden;
	display: flex;
}

.OneSet {
	width: 45%;
}

.TwoSet {
	width: 15%;
}

.ThreeSet {
	width: 40%;
}

#oneimg {
	position: relative;
	top: 3.7%;
	left: -20%;
	height: 49%;
	width: 50%;
}

#twoimg {
	position: relative;
	top: -33%;
	left: 32%;
	height: 36%;
	width: 67%;
}

#threeimg {
	position: relative;
	top: 30%;
	left: 2%;
	height: 49%;
	width: 100%;
}

#fourimg {
	position: relative;
	top: 22%;
	left: 2.5%;
	height: 39%;
	width: 70%;
}

#fiveimg {
	position: relative;
	top: -31%;
	left: 74.3%;
	height: 52.5%;
	width: 40%;
}

#siximg {
	position: relative;
	top: -32.5%;
	left: -10%;
	height: 55%;
	width: 50%;
}

#sevenimg {
	position: relative;
	top: -88%;
	left: 41.7%;
	height: 40%;
	width: 57.3%;
}

#eightimg {
	position: relative;
	top: 7.5%;
	left: -38.1%;
	height: 37.5%;
	width: 45%;
}

#nineimg {
	position: relative;
	top: -30.5%;
	left: 49.5%;
	height: 56%;
	width: 55%;
}

#prefooter {
	width: 90%;
	border: 1px solid #D8D8D8;
	position: relative;
	top: 50px;
	left: 5%;
}

.Footer {
	width: 95%;
	height: 370px;
	position: relative;
	top: 50px;
	left: 50px;
	display: flex;
	justify-content: space-around;
}

.Information {
	display: flex;
}

.FuniroF {
	width: 250px;
	height: 300px;
}

.Menu {
	width: 200px;
	height: 300px;
}

.Account {
	width: 200px;
	height: 240px;
}

.Connection {
	width: 190px;
	height: 190px;
}

.Update {
	width: 300px;
	height: 200px;
	position: relative;
	top: 38px;
}

.FooterItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.FooterItem, b{
	font-size: 24px;
	margin-top: 10px;
	padding-top: 10px;
	color: black;
}

.FooterItem, p{
	font-size: 16px;
	color: #616161;
}

.Email {
	display: flex;
	position: relative;
	top: 10px;
	height: 30px;
}

#email {
	width: 240px;
	height: 100%;
	border-style: none;
	border: 1px solid black;
}

#emailbutn {
	width: 45px;
	height: 135%;
}

#sendemail {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #2e98bf;
	border: none;
}

#sendemail, img{
	position: relative;
	width: 95%;
	height: 85%;
}

#location {
	width: 20px;
	height: 20px;
}

@media (min-width: 1647px) {
	.Products {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(3, 420px);
    }
}

@media (max-width: 1652px) {
	.Products {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(4, 420px);
    }
}

@media (max-width: 1251px) {
	.Products {
        grid-template-columns: repeat(auto-fit, minmax(370px, 420px));
        grid-template-rows: repeat(6, 420px);
        left: 10%
    }

    #moreprod {
    	left: 42%;
    }

    .Advantages b{
    	font-size: 20px;
    }

    .Advantages {
    	left: -8%;
    	margin-bottom: 5%;
    	margin-top: 10%;
    }

    .Rooms {
    	height: 600px;
    }

    .RDescription {
    	width: 20%;
	    top: 170px;
	    left: 7%;
    }

    #roominspir {
	    font-size: 30px;
    }

    #text1 {
	    font-size: 16px;
    }

    .RoomImages {
	    top: -43%;
	    left: 35%;
	    width: 75%;
	    height: 80%;
    }

    .Footer {
    	display: block;
    }

    .Update {
    	left: 30%;
    	top: 10%;
    }

    .TipTitle{
    	font-size: 19px;
    }
}

@media (max-width: 947px) {
	.Products {
        grid-template-columns: repeat(auto-fit, minmax(370px, 420px));
        grid-template-rows: repeat(12, 420px);
        left: 25%;
    }

    .Options {
    	top: 12%;
    	left: 18%;
    	width: 60%;
    }

    .dropdown {
    	width: 35%;
    }

    .SearchBlock {
    	left: 25%;
    }

    .Gallery {
    	height: 400px;
    }

    .Advantages {
    	left: -8%;
    	margin-bottom: 10%;
    	margin-top: 20%;
    }

    .RoomImages {
	    top: -38%;
	    left: 35%;
	    width: 75%;
	    height: 70%;
    }
}

@media (max-width: 1100px) {
	.MainMenu {
	    height: 620px;
    }

	.TipItem:hover {
	    width: 105%;
	    height: 35%;
	    left: -2.5%;
	    top: 2.5%;
    }

	.Tips {
    	height: 1100px;
    	width: 45%;
    	left: 27%;
    	flex-direction: column;
    	justify-content: space-around;
    }
    .TipItem {
    	height: 30%;
	    width: 100%;
    }

    #name {
    	left: 7%;
    }

    .Options {
    	top: 12%;
    	left: 18%;
    	width: 60%;
    }

    .dropdown {
    	width: 25%;
    }

    .SearchBlock {
    	left: 25%;
    	width: 55%;
    }

    #cart {
	    top: -7%;
	    left: 85%;
    }

    #profile{
	    left: 86%;
	    top: -7%;
    }

    #moreprod {
    	left: 35%;
    }

    .Gallery {
    	height: 650px;
    }

    .Advert {
	    height: 370px;
	    width: 300px;
	    left: 100px;
    }

    #ad {
    	font-size: 35px;
    }

    #text {
    	font-size: 23px;
    }

    #cartbtn {
	    height: 50px;
	    width: 250px;
	    margin-top: -13%;
	    left: 9%;
	    font-size: 20px;
    }

    .Advantages {
    	left: -8%;
    	margin-bottom: 0%;
    	margin-top: 10%;
    }

    .image img{
	    width: 15%;
	    height: 400px;
    }

    #switch1:checked ~ #slides .image{
	    margin-left: 20%;
    }

    #switch2:checked ~ #slides .image{
	    margin-left: -28.5%;
    }

    #switch3:checked ~ #slides .image{
	    margin-left: -77%;
    }

    #switch4:checked ~ #slides .image{
	    margin-left: -125.5%;
    }
}

@media (max-width: 700px) {
	.Products {
        left: 15%;
    }

	.MainMenu {
	    height: 470px;
    }

	.Tips {
    	width: 70%;
    	left: 15%;
    }

    .TipItem:hover {
	    top: 2.5%;
    }

    #name {
    	top: 4%;
    	left: 40%;
    }

    #cart {
	    top: 0%;
	    left: 87%;
    }

    .SearchBlock {
    	left: 5%;
    	width: 70%;
    }

    #profile{
	    left: 78%;
	    top: -10%;
    }

    .Options {
    	top: 17%;
    	left: 5%;
    	width: 70%;
    }

    .dropdown {
    	width: 35%;
    }

    .Footer {
    	left: 5%;
    }

    .Footer b{
    	font-size: 20px;
    }

    .FooterItem p{
    	font-size: 14px;
    }

    .Update {
    	left: 15%;
    }

    .Gallery {
    	height: 300px;
    	padding-top: 20%;
    }

    .Advantages {
    	left: -14%;
    	margin-bottom: 0%;
    	margin-top: 15%;
    }

    .Advantages b{
    	font-size: 16px;
    }

    #ad {
    	font-size: 25px;
    }

    #text {
    	font-size: 15px;
    }

    .Advert {
	    height: 250px;
	    width: 200px;
	    left: 50px;
	    top: 10px;
    }

    #cartbtn {
	    height: 40px;
	    width: 200px;
	    margin-top: -15%;
	    margin-left: -10%;
	    font-size: 18px;
    }

    .image img{
	    height: 250px;
    }

    #switch1:checked ~ #slides .image{
	    margin-left: 40%;
    }

    #switch2:checked ~ #slides .image{
	    margin-left: -8.5%;
    }

    #switch3:checked ~ #slides .image{
	    margin-left: -57%;
    }

    #switch4:checked ~ #slides .image{
	    margin-left: -105.5%;
    }

    .Rooms {
    	height: 550px;
    }

    .RDescription {
    	width: 70%;
	    top: 50px;
	    left: 15%;
    }

    #roominspir {
    	text-align: center;
	    font-size: 28px;
    }

    #text1 {
    	text-align: center;
	    font-size: 15px;
    }

    .RoomImages {
	    top: -5%;
	    left: 0%;
	    width: 100%;
	    height: 55%;
    }

    #room {
    	position: relative;
	    left: 27%;
    }
}

@media (max-width: 550px) {
	.Products {
        left: 3%;
    }

    .Advantages {
    	left: -19%;
    }

	.Advantages b {
		font-size: 14px;
	}

	.Advantages p {
		font-size: 14px;
	}

	.Update {
		margin-top: 10%;
	}
}